<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue 检测数据改变的原理--数组</title>
    <script src="./vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>学校信息</h1>
      <h3>学校名称：{{school.name}}</h3>
      <h3>学校地址：{{school.address}}</h3>
      <h3>校长：{{school.leader}}</h3>
      <hr />
      <h1>学生信息</h1>
      <button @click="addSex">添加一个性别属性，默认值是男</button>
      <h5>学生名称：{{student.name}}</h5>
      <!-- 如果某个学生的信息中没有性别这一项 ，就隐藏 学生性别 这一行-->
      <h5 v-if="student.sex">学生性别：{{student.sex}}</h5>
      <h5>学生年龄：真实 {{student.age.rage}}, 对外 {{student.age.sage}}</h5>
      <h5>学生的爱好：</h5>
      <ul>
        <li v-for="(h,index) in student.hobby" :key="h.index">{{h}}</li>
      </ul>
      <h5>学生的朋友们：</h5>
      <ul>
        <li v-for="(f,index) in student.friend" :key="f.index">
          {{f.name}}--{{f.age}}
        </li>
      </ul>
    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        data() {
          return {
            school: {
              name: "清华大学",
              address: "北京",
              leader: "刘德华",
            },
            student: {
              name: "lisi",
              // sex: "女",
              age: {
                rage: 36,
                sage: 18,
              },
              hobby: ["蹦极", "打羽毛球", "打篮球"],
              friend: [
                { name: "wangwu", age: 33 },
                { name: "laoliu", age: 35 },
              ],
            },
          };
        },

        methods: {
          // 添加 sex 属性
          addSex() {
            // Vue.set(this.student, "sex", "男");
            this.$set(this.student, "sex", "男");
          },
        },
      });
    </script>
  </body>
</html>
